.header{
    background-color: #07c4a8;
}
.login-wrap{
    background: rgba(56, 157, 170, 0.82);;
}
.plugins-tips{
    background: #f2f2f2;
}
.plugins-tips a{
    color: #00d1b2;
}
.el-upload--text em {
    color: #00d1b2;
}
.pure-button{
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color: #00d1b2 !important;
    border-color: #00d1b2 !important;
}

.tags-li.active {
    border: 1px solid #00d1b2;
    background-color: #2ED7EA;;
}
.collapse-btn:hover{
    background: #00d1b2;
}
